body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  background: #BC9585;
  color: #f1cbba;
}

.page-header {
  text-align: center;
  padding: 16px 10px;
  border-bottom: 20px solid #3b241c;
  background: #45322E;
  border-radius: 6px;
  margin-bottom: 10px;
}

.page-header h1 {
  margin: 0 0 6px 0;
  font-size: 24px;
}

.byline, .source, .years {
  margin: 4px 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  color: #555;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 16px;
}

.card {
  text-align: center;
  background: #f8e6de;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.15);
}

.card-wide {
  grid-column: 1 / -1;
}

.card h2 {
  margin: 0 0 2px 0;
  color: #45322E;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
}

.hint {
  margin: 0 0 2px 0;
  font-size: 13px;
  color: #807675;
}

.axis path, /* Historgram styling */
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.axis text { /* Historgram styling */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-family: sans-serif;
  font-size: 11px;
}

#tooltip { /* Scatterplot styling */
  position: absolute;
  display: none;
  background: #fff; 
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 160px;
  color: #333;
  pointer-events: none;
}

.tooltip-title { /* Scatterplot styling */
  color: #000;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14px;
  font-weight: 600;
}

.map-container { /* container styling - MAPS */
  padding: 8px;
  width: 100%; 
  height: 320px;
}

.map-container svg { /*container styling - MAPS */
  padding: 8px;
  width: 100%;
  height: 100%;
}

.selection-options { /* Poverty Line and Education label styling */ 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 10px 0;
}

.selection-options label, /* Poverty Line and Education label styling */ 
.selection-options-label {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  font-weight: 600;
}

select,
.toggle-btn {
  height: 38px;
  padding: 0 15px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #533930;
  background-color: #0E2F4E;
  color: #f8e6de;
  cursor: pointer;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.15);
}

.toggle-btn.active { /* button clicked color */
  background-color: #2a649b;
  color: #f8e6de;
}

.toggle-btn:hover { /* button hover color */
  background-color: #7293b3;
  color: #f8e6de;
}
